.footer {
  background-color: #212529;
  color: rgb(250, 242, 2);
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
}
.name {
  color: white;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    padding: 12px 15px;
  }
}
