.movie-list-header {
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 5px;
}
.movie-list-heading {
  font-size: 26px;
  color: #030303;
}
.movie-sort {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 5px;
}
.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px 40px;
  justify-items: center;
}
@media (max-width: 700px) {
  .movie-list-heading {
    font-size: 16px;
    color: #030303;
  }
}
