nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav .title {
  font-size: 2rem;
  margin: 1rem;
  margin-left: 50px;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(90deg, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
  display: flex;
  margin: 0px 30px 0px 30px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(250, 242, 2);
  font-size: 20px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
nav ul li a:not(.active):hover {
  background-color: #172554;
}
nav .menu {
  display: none;
  position: absolute;
  top: 1.2rem;
  right: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}
nav .searchbar {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin: 0.1rem;
  font-size: 1rem;
  color: black;
  border: 2px solid rgba(255, 255, 0, 0.909);
}

@media (max-width: 750px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
  nav .title {
    margin-left: 30px;
  }
}
